{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/JysUbK0.png" class="img-fluid" alt="Logo">
          </a>
        </div>
      </nav>
    </header>

    <p>Hi {{user}},</p>
    	<p> my name is Williams I have seen your email and I will get back to you within some 
    few hours, give me some time to go through your form!</p>
    <i>For more information contact us:</i>
    <address>support@shareafric.com</address>
    <address>+234 ********</address>
    <address>shareafric.com</address>
    <h1>WOW!</h1>